<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/headers') %>
    <h1>hi</h1>
    <!-- <h1 style="color: blue;">
        hi <%= firstname %> - <%= lastname %>
    </h1> -->

    <!-- if else for login -->
<% if (login) {%>
    <h2>welcome</h2>
    <%} else {%>
    <h2>login</h2>
    <% } %>
<!-- loop -->
<% for(const key in students) { %>
<%= students[key]%>
<$} %>

<%- include('partials/footer') %>
</body>
</html>